.example-card {
    max-width: 400px;
  }


  .container {
    display: block;
    width: 70%;
    padding: 5px;
  }
  
  .card {
    border: 1px solid black;
    float: left;
    /*setting width for each and every card element as well as -10px for removing the margin width for 5 elements*/
    width: calc( 100% / 5 - 10px);
  }
  
  
  /*first element*/
  
  .container .card:first-child {
    margin-right: 0;
  }
  
  
  /*last element of the first row*/
  
  .container .card:nth-child(5n) {
    margin-right: 0;
  }
  
  
  /*first-element of the 2nd row*/
  
  .container .card:nth-child(5n+1) {
    margin-left: 0;
  }
  
  
  /*last element*/
  
  .container .card:last-child {
    margin-right: 0;
    margin-bottom: none;
  }